
@font-face {font-family: "iconfont";
  src:url('../fonts/iconfont.ttf') format('truetype');
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhongqingdianxinicon08:before { content: "\e627"; }

.icon-weixiu:before { content: "\e63a";  }
.icon-naozhong:before { content: "\e648"; }
.icon-beizhu:before { content: "\e616"; }
.icon-yinshuiji:before { content: "\e61d"; }
.icon-dianshi:before { content: "\e602"; }
.icon-weibolu:before { content: "\e67d"; }
.icon-ArtboardCopy:before { content: "\e8dd"; }
.icon-xiyiji:before { content: "\e610"; color: #a0e1eb;}

.icon-reshuiqi:before { content: "\e61c"; color: #fdafb7;}
/*向下箭头*/
.icon-jiantouxia:before { content: "\e62d"; }

.icon-kongtiao:before { content: "\e641"; color: #aacdfb;}
.icon-shangcheng:before { content: "\e626"; }
.icon-fuwu:before { content: "\e657"; }
/*会员中心*/
.icon-daipingjia:before { content: "\e62b"; }
.icon-completed:before { content: "\e61e"; }
.icon-weiwancheng:before { content: "\e638"; }
.icon-quanbudingdan01:before { content: "\e629"; }
